---
http_interactions:
- request:
    method: post
    uri: https://api.kraken.com/0/private/Balance
    body:
      encoding: UTF-8
      string: nonce=1698210174
    headers:
      Api-Key:
      - some_api_key
      Api-Sign:
      - some_api_sign
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 0a501017018b6536d584004bb64c3218
      X-Proxy:
      - gateway
    body:
      encoding: ASCII-8BIT
      string: '{"error":[],"result":{"ADA":"200.75362864","XXRP":"102.37510238","ZUSD":"0.0000"}}'
  recorded_at: Wed, 25 Oct 2023 05:02:54 GMT
recorded_with: VCR 6.2.0
